<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{views/admin/layout::layout(~{::head}, ~{::main})}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/admin/product.css">
<title>상품등록</title>
</head>

<main>
	<div class="container">
		<h1>상품등록</h1>
		<form action="/submit" method="post" enctype="multipart/form-data">
			<table>
				<tr>
					<th class="tag">상품명</th>
					<td><input class="pdtName" type="text" name="productName" required></td>
				</tr>
				<tr>
					<th class="tag">판매가</th>
					<td><input class="price" type="text" name="price" required> 원</td>
				</tr>
				<tr>
					<th class="tag">분류</th>
					<td><input type="text" name="category" required></td>
				</tr>
				<tr>
					<th class="tag">상품수량</th>
					<td><input class="quantity" type="text" name="quantity" required></td>
				</tr>
				<tr>
					<th class="tag">상품설명</th>
					<td><textarea class="des" name="description" rows="5" required></textarea></td>
				</tr>
				<tr>
					<th class="tag">이미지</th>
					<td>
						<label class="fileUpload">
							<input type="file" id="itemFile" onchange="fileupload(this)" style="display: none;">
							<span>+</span>
						</label> 
						<label class="detail1">
							<input type="file" id="itemFile" onchange="fileupload(this)" style="display: none;">
							<span>+</span>
						</label> 
						<label class="detail2">
							<input type="file" id="itemFile" onchange="fileupload(this)" style="display: none;">
							<span>+</span>
						</label> 
					</td>
				</tr>
			</table>
			<div class="form-buttons">
				<button type="submit">상품등록</button>
				<button type="reset">취소</button>
			</div>
		</form>
	</div>
</main>
</html>
