<footer id="footer">
	<div class="container flex footer-wrap">
		<div class="com-info">
			<div class="info-text">
				<h3 class="footer-logo">PETFIR</h3>
                	페퍼(PETFIR)
                	<br>
                    주소 : 서울특별시 노원구 상계동 593-1 화일빌딩 3층
                    <br>
                    사업자등록번호 : 394-00-00000 <a href="#">[사업자정보확인]</a>
                    <br>
                    통신판매업 신고번호 : 2024-서울노원-00000
                    <br>
                    대표 : 김여름 | 개인정보보호책임자 : 김몽몽
                    <br>
                    고객센터 번호 : 1644-1644 | 이메일 : contact@petfirst.com
             </div>
		</div>
		<div class="cs-center">
			<div>
				<h4>C/S CENTER</h4>
				MON-FRI | 09:30 - 17:00
				<br>
				LUNCH | 12:30 - 13:30
				<br>
				SAT,SUN,HOLIDAY OFF
				<br>
				카카오톡 플러스친구 @페퍼
			</div>
		</div>
		<div class="sns">
			<h4>SNS SERVICE</h4>
				<i class="ri-kakao-talk-line"></i>
				<i class="ri-instagram-line"></i>
				<i class="ri-youtube-line"></i>
		</div>
	</div>
</footer>

