<header>
	<div class="container flex">
		<div class="toolbar-top flex">
			<div class="flex">
				<i class="logo-img"></i>
                <h1 class="flex"><a class="logo" href="/">PETFIR</a></h1>
                <div class="loginwrap2"></div>
            </div>
            <div class="search-container ">
            	<form action="#" method="get" target="_blank" class="search-form">
	                <input name="search-input" placeholder="검색해보세요..." type="text">
	                <div class="search-button">
	                	<i class="ri-search-line"></i>
	                </div>
                </form>
            </div>
            <div class="loginwrap">
            	<a href="/public/login">로그인</a>
                <a href="/public/signup">회원가입</a>
            </div>
            <div class="icons">
                    <a href="/petfir/mypage"><span><i class="ri-user-fill"></i></span></a>
                    <a href="/public/cart"><span><i class="ri-shopping-cart-2-fill"></i></span></a>
                    <a href="#"><span><i class="ri-heart-3-fill"></i></span></a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="toolbar-bottom flex">
                <nav>
                    <ul class="flex category">
                        <li class="category-toggle"><a href="#">카테고리<i class="ri-arrow-down-s-fill"></i></a>
                            <ul class="subcategory-list">
                                <li><a href="#">강아지샵</a></li>
                                <li><a href="#">고양이샵</a></li>
                                <li><a href="#">기타동물샵</a></li>
                                <li><a href="#">신상품</a></li>
                                <li><a href="#">랭킹</a></li>
                                <li><a href="#">FAQs</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">신상품</a></li>
                        <li><a href="#">랭킹</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                </nav>
                <button class="image-button"><img src="/img/btnimg.png" alt=""></button>
            </div>
        </div>
    </header>