        <header class="header">
            <div class="header-1">
                <div class="logo">
                    <i class="logo-img"></i>
                    <h1>PETFIR</h1>
                </div>
                <div class="search-form">
                    <form action="#" method="get" target="_blank" class="search-form">
                        <input name="search-input" placeholder="검색해보세요..." type="text">
                        <div class="search-button">
                            <i class="ri-search-line"></i>
                        </div>
                    </form>
                </div>
                <ul class="login">
                    <li><a href="/detail">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                </ul>
            </div>
            <div class="line"></div>
            <div class="header-2">
                <div class="category">
                    <div class="menu">

                    </div>
                    <ul class="category-list">
                        <li class="category-toggle">
                            <i class="ri-menu-line"></i>
                            카테고리
                            <ul class="subcategory-list">
                                <li><a href="#">강아지샵</a></li>
                                <li><a href="#">고양이샵</a></li>
                                <li><a href="#">기타동물샵</a></li>
                                <li><a href="#">신상품</a></li>
                                <li><a href="#">랭킹</a></li>
                                <li><a href="#">FAQs</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">신상품</a></li>
                        <li><a href="#">랭킹</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                    <div class="mymenu">
                        <ul>
                            <li><i class="ri-user-fill"></i></li>
                            <li><i class="ri-shopping-cart-2-fill"></i></li>
                            <li><i class="ri-heart-3-fill"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>