<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="frame(pHead, pMain)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETFIR</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/layout.css">
    <script src="/js/layout.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->
    <th:block th:replace="${pHead}" />
</head>
<body>
    <header th:replace="~{views/commons/header}"></header>
    <main th:replace="${pMain}"></main>
    <footer th:replace="~{views/commons/footer}"></footer>
</body>
</html>
