.logo {
	display: flex;
	align-items: center;
	height: 73px;
}

.sidebar {
	width: 200px;
	background-color: black;
	color: #fff;
	display: flex;
	flex-direction: column;
	padding-top: 50px; /* 탑바 높이만큼 패딩 추가 */
	position: fixed;
	height: 100%;
	font-size: 24px;
}

.sidebar .tag a {
	text-decoration: none;
	color: #fff;
	padding: 20px;
	display: block;
	text-align: center;
}

.sidebar .tag a:hover {
	background-color: #575757;
}

.topbar {
	width: 100%;
	background-color: #f4f4f4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	height: 50px;
	font-size: 24px;
}


.user-profile {
	display: flex;
	align-items: center;
}

.profile {
	height: 100px;
	border-radius: 50%;
}

.logout {
	margin-right : 40px;
	margin-left : 30px;
	height: 45px;
	width: 35px;
}

.shopname{
	color : var(--logo-brown)
}


main {
	margin-left: 200px; /* 사이드바 넓이만큼 마진 추가 */
	margin-top : 70px; /* 탑바 높이만큼 마진 추가 */
}