.content {
	padding: 0 40px 40px 40px;
	font-size: 24px;
}

.today {
    font-size: 30px;     /* 글씨 크기 조절 */
    padding-left: 45px;
    padding-top: 50px;
}

.stats {
	display: grid;
    grid-template-columns: repeat(3, 1fr); /* 세 개의 동일한 너비의 열 생성 */
    gap: 15px; /* 그리드 항목 간의 간격 */
    border: 2px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 65px;
    width: 1500px;
}

.stat-item {
	
	text-align: center;
}

.visitor{
	font-size: 30px;     /* 글씨 크기 조절 */
    padding-left: 10px;
}

.visitor-stats, .inventory {
	background-color: #fff;
	padding: 20px;
	width: 1550px;
}

.inv{
	font-size: 30px;
    padding-left: 15px;
}

.visitor-stats, .inventory, table{
	margin-left: 10px;
}

table {
	width: 1550px;
	border-collapse: collapse;
	margin-bottom: 20px;
}

table th, table td {
	border: 1px solid #ddd;
	padding: 5px;
	text-align: center;
}

table th {
	background-color: #f2f2f2;
}