.container {
	width: 85%;
	padding: 20px;
	background-color: #fff;
}

h1 {
	font-size: 36px;
	margin: 20px 0px 30px 80px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
	font-size: 24px;
	margin-left: 130px;
}

th, td {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: left;
}

.tag {
	vertical-align: middle;
	text-align: center;
}

th {
	width: 150px;
	background-color: #f2f2f2;
}

input[type="text"], textarea {
	padding: 8px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.price, .quantity {
	text-align: right;
}

.pdtName {
	width: 400px;
}

.des {
	width: 98%;
}

input[type="file"] {
	margin: 5px 0;
}

.fileUpload, .detail1, .detail2 {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 250px;
	border: 2px dotted #d9d9d9;
	background-color: #fff;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	vertical-align : bottom;
}

.detail1 {
	width: 150px;
	height: 150px;
}

.detail2 {
	width: 50px;
	height: 50px;
}


.form-buttons {
	display: flex;
	gap: 20px;
	margin-left: 710px;
}

button {
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button[type="submit"] {
	background-color: var(--logo-brown);
	color: white;
}

button[type="reset"] {
	background-color: #B9B9B9;
	color: white;
}