<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/commons/layout::frame(~{this::head}, ~{this::main})}">

<head>
<meta charset="UTF-8">
<title>PETFIR</title>
<link rel="stylesheet" href="/css/mypage/mypage.css" />
<link rel="stylesheet" href="/css/commons/common.css" />
</head>
<body>
<main class="mypage-main">

	<div class="nav-rootbar">
		<nav class="container">
			<ol class="flex middel">
				<li>홈</li>
				<li>></li>
				<li>마이페이지</li>
				<li>></li>
				<li>구매내역</li>
			</ol>
		</nav>
	</div>

	<div class="top-box">
		<div class="container">
			<div class="top-box-inner">
				<div class="profile-container">
					<div class="myprofile"><img src="/img/mypage/myprofile.jpg"></div>
					<div></div>
				</div>
			</div>
		</div>
	</div>

</main>
</body>
</html>