<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/login/login.css" />
<link rel="stylesheet" href="/css/commons/common.css" />
</head>
<body>
	<main>
		<div class=login>
			<div class="login-menu">
				<div class="login_top">
					<img src="/img/logo.png" id="loginimg">
					<div class="login_name">PETFIR</div>
				</div>

				<form>

					<div class="login-input">
						<input id="useremain" type="text" name="username" placeholder="아이디" > 
						<input id="password" type="password" name="password" placeholder="비밀번호" ><br>
					</div>
					<button type="button" class="logi_but">로그인</button>
					<a href="/common/signup"><button class="sign_but" type="button">회원가입</button></a>

				</form>

				<div class="social_log">
				<img width="30" height="30" src="https://img.icons8.com/offices/30/google-logo.png" alt="google-logo"/>
				<div>Google 로그인</div>
				</div>
			</div>
	
			


		</div>
		

	</main>

</body>
</html>