

/*푸터*/
.footer-logo{
    font-size: 24px;

}
#footer {
	color : var(--grey);
	font-size: 20px;
    width: 100%; /* 변경: 1903px에서 100%로 수정 */
    height: 300px;
    background-color: var(--sub-grey);
    padding-top: 50px; /* 푸터 안쪽 여백 */
  
}

.footer-wrap {
    display: flex; /* 플렉스박스 사용으로 내부 요소 배치 */
    justify-content: space-between; /* 공간을 균등하게 배분 */
    align-items: flex-start; /* 요소 상단 정렬 */
    max-width: 1200px; /* 최대 너비 설정 */
    margin: 0 auto; /* 중앙 정렬 */
}

.com-info {
    flex: 1; /* 가능한 모든 공간을 차지 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

.com-info .info-text {
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

.cs-center,
.sns {
    text-align: left; /* 텍스트 왼쪽 정렬 */
    flex: 0 0 auto; /* 고정 너비 */
    margin-left: auto; /* 오른쪽으로 정렬 */
    margin-right: 0; /* 오른쪽으로 정렬 */
    padding: 20px;
}

.sns span {
    display: block; /* SNS SERVICE 텍스트 블록 요소로 설정 */
    margin-bottom: 10px; /* 텍스트와 아이콘 사이 간격 */
}

.sns i {
    font-size: 24px; /* 아이콘 크기 */
    margin-left: 10px; /* 아이콘 사이 간격 */
}