
/*베너*/
.category ul.col-3>li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px; /* 각 아이템 간 간격 */
}

.category img {
    max-width: 100px; /* 이미지 최대 크기 조정 */
}

.category a {
    text-decoration: none;
    color: inherit;
    margin-top: 10px; /* 이미지와 텍스트 사이의 간격 */
}
.col-2{
	display: block;
    min-width: 300px;
    justify-content: center;
    align-items: center;
}    
.col-2 img{
    display: flex;
    max-width: 100%;
    padding: 50px 50px;
    justify-content: center;
    align-items: center;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0px;
}
.col-2>p{
	font-size: 30px;
}
.col-2>a{
	font-size: 20px;
}

.banner-btn{
    display: inline-block;
    background: var(--sub-pink);
    color: var(--grey);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
/**/
.index-main{
	width: 100%;
}
.banner{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center; /* 수평 가운데 정렬 */
    flex-wrap: wrap;
    width: 100%; 
    height: 600px;
    background-color: var(--main-pink);
    overflow-x: hidden;
}
.wrapper {
    display: block;
    justify-content: center;
    margin: 0 auto; /* 가로 가운데 정렬 */
    max-width: 1200px;
}
.wrapper.category {
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
}

/*메인*/

.col-3{
	width: 100%;
    display: flex;
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    margin: 0px 20px;
}
.col-4container{
	display: flex;
	width: 100%;
	
	background-color: var(--sub-grey);
	justify-content: center;
    align-items: center;
}
.col-4{
	text-align: center;
	justify-content: center;
	vertical-align: middle;
	padding: 0 50px;
}
.col-4img{
	position: relative;
	height: 200px;
	padding: 0 50px;
    margin: 0px;
}
.col-4>h1{
	display: flex;
	font-size: 30px;
	text-align: center;
	justify-content: center;
	vertical-align: middle;
}
.col-4>p{
	font-size: 30px;
	text-align: center;
	justify-content: center;
	vertical-align: middle;
}

.col-5>h2,
.col-6>h2,
.col-7>h2,
.col-8>h2{
	font-size: 50px;
	
}
